.container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  height: 75vh;
  margin: 100px auto auto auto;
  background-color: rgba(255,255,255,.5);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.current-container {
}

.wi {
  font-size: 5em;
}

/*.daily-container {
  border: 1px solid red;
} */


