* {
  color:#fff;
}

.container {
  max-width: 85%;
  height: 70vh;
  border-radius: 20px;
  background-color: rgb(38, 49, 58);
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px #141418;
  margin-left: 100px;
  margin-top: 25px;
}

.current-container {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
}

.wi {
  font-size: 5em;
}


@media (max-width: 400px) {

  .container {
    height: 50vh;

  }


  .wi {
    font-size: 2em;
  }
}