.container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  height: 570px;
  margin: 100px auto auto auto;
  background-color: rgba(255,255,255,.5);
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
}

.current-container {
  margin-top: -20%;
  border: 1px solid black
}

/*.daily-container {
  border: 1px solid red;
} */


