/* .daily-container {
    display: flex;
    flex-direction: row;
    max-width: 75%;
    height: 75vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
*/
.seven-day {
  margin-top: 40px;
  margin-left: -10px;
}

h1 {
  font-size: 1em;
}

.wi {
  color: white;
  font-size: 2em;
}
 




  