.daily-container {
    display: flex;
    flex-direction: row;
    max-width: 75%;
    height: 75vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

.seven-day {
  border: 1px solid green;
  flex-direction: column;
  max-width: 10%;
  flex-shrink: inherit;
  margin: auto auto;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.wi {
  color: white;
  font-size: 2em;
}

  